In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("products.csv")
df

          product series  sales_price
0       GTX Basic    GTX          550
1         GTX Pro    GTX         4821
2      MG Special     MG           55
3     MG Advanced     MG         3393
4    GTX Plus Pro    GTX         5482
5  GTX Plus Basic    GTX         1096
6         GTK 500    GTK        26768

In [5]:
nombres = ["Producto", "Serie", "Precio_de_Venta"]

In [7]:
df.columns = nombres
df

         Producto Serie  Precio_de_Venta
0       GTX Basic   GTX              550
1         GTX Pro   GTX             4821
2      MG Special    MG               55
3     MG Advanced    MG             3393
4    GTX Plus Pro   GTX             5482
5  GTX Plus Basic   GTX             1096
6         GTK 500   GTK            26768

In [8]:
df.to_csv("productosETL.csv")